/* CSS Reset */
html {scroll-behavior: smooth;}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigation Bar */

.navbar {
    display: flex;
    align-items: center;
    /* before */
    position: sticky;
    /* top: 0px; */
}

.navbar::before {
    content: "";
    background-color: black;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#logo {margin: 7px;}



#logo img {
    width: 80px;
    height: 80px;
    margin: -3px;
}

.navbar ul {
    display: flex;
    /* align-items: center; */
    margin: 20px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    padding: 20px;
    display: flex;
    color: white;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    height: 420px;
}

#home::before {
    content: "";
    position: absolute;
    opacity: 0.5;
    height: 500px;
    width: 100%;
    z-index: -1;
    background: url(../img/home.png) no-repeat center center/cover;
    top: 0px;
    left: 0px;

    /* animation */

    /* transition */
    
}

#home p {
    text-align: center;
    color: rgb(91, 10, 10);

}

/* .home-section {
    padding: 10px;
    width: 70%;
    height: 40%;
} */

/* Services Section */
#services {
    /* display: flex; */
    margin: 34px 0px 34px 0px;
    position: relative;
    top: -58px;
}

.services-section {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    background-color: rgb(241, 214, 177);
}

.containers {
    /* border: 2px solid rgb(160, 94, 94); */
    border-radius: 20px;
    padding: 5px;
    margin: 10px 14px;
    background-color: rgb(237, 233, 233);
}

#services .containers img {
    height: 100px;
    /* width: 100px; */
    display: block;
    margin: auto;
    border-radius: 70%;
    padding: 5px;
}

/* Purchase Section */
#purchase {
    position: relative;
    top: -70px;
}

.purchase-section {display: flex;}

.purchase-section ul {
    display: flex;
    margin: 34px 0px 34px 0px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 214, 177);
    width: 100%;
}

.purchase-section ul li {
    list-style: none;
    padding: 17px;
    margin: 5px;
}

.purchase-section img {
    width: 188px;
    height: 150px;
    border-radius: 20px;
}

/* Food Section */
#food {
    position: relative;
    top: 95px;
}

.food-section ul {
    display: flex;
    margin: 34px 0px 34px 0px;
    /* padding: 5px; */
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 214, 177);
}

.food-section ul li {
    list-style: none;
    padding: 17px;
    margin: 5px;
}

.food-section img {
    width: 188px;
    height: 150px;
    border-radius: 20px;
}

/* Search section */
#search {
    position: relative;
    margin-top: 129px;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

#search::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-color: rgb(241, 214, 177);
}

#search-box {
    display: flex;
    top: 0px;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#search-box form {
    border: 2px solid rgb(52, 50, 50);
    width: 40%;
    padding: 20px;
    border-radius: 20px;
}

#search-box input,
#search-box textarea {
    width: 100%;
    padding: 0.3rem;

}

.form-group button {
    padding: 6px 20px;
    border: 2px solid rgb(127, 26, 26);
    background-color: rgb(209, 128, 128);
    color: white;
    margin: 17px;
    border-radius: 13px;
    text-align: center;
}

/* Utilities Section */
.h-primary,
.h-secondary {
    text-align: center;
    color: rgb(91, 10, 10);
    text-shadow: 1px 1px 2px cornsilk;
    padding: 3px;
}

footer {
    background-color: black;
    color: white;
    padding: 7px 1px;
    top: 34px;
}

.center {
    text-align: center;
}